NODE_ENV=development
PORT=3000
URL_PATH="/api/v1/"
MONGO_URI=
EMAIL_USER
PASSWORD_USER=
JWT_SECRET_KEY=
CLOUD_NAVIS_USERNAME=
CLOUD_NAVIS_PASSWORD=
CLOUD_NAVIS_URL=
CLOUD_SECRET_KEY=
CLOUD_SECRET_IV=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=
TWILIO_INVOICE_CONTENT_SID=
TWILIO_PAYROLL_CONTENT_SID=
TELEGRAM_APP_ID=
TELEGRAM_TOKEN_SECRET=
MONTHS_SEARCH=0