<div class="page cover">
   <div class="imagen-superpuesta">
    <div>   
        <p>Resolvemos las dudas más comunes sobre el servicio <span style="color: rgb(255, 191, 0);">C</span>UIDO<span style="color: rgb(255, 191, 0);">F</span>AM</p>
        <p style="color: rgb(255, 191, 0);">1 ¿Quiénes son las cuidadoras?</p>
        <p>Trabajamos únicamente con personas de confianza, que conocemos personalmente o que han colaborado previamente con nosotros. Antes de seleccionarlas, siempre nos preguntamos: ¿Las elegiríamos para cuidar a un familiar nuestro?</p>
        <p style="color: rgb(255, 191, 0);">2 ¿Qué incluye el trabajo de una interna de fin de semana?</p>
        <p>El horario es de sábado a las 9:00 h. hasta el domingo a las 21:00 h.</p>
        <p style="color: rgb(255, 191, 0);">3 ¿Cuáles son las condiciones laborales de las cuidadoras?</p>
        <p>En jornada completa, tienen derecho a 2 horas libres al día.</p>
        <p>Disfrutan de 30 días naturales de vacaciones al año.</p>
        <p style="color: rgb(255, 191, 0);">4 ¿Qué tipo de contrato se firma?</p>
        <p>El contrato se realiza directamente entre el empleador (usuario) y la cuidadora.</p>
        <p>El alta se gestiona bajo el Régimen Especial de Empleadas de Hogar.</p>
        <p>El contrato es indefinido, con un periodo de prueba de 2 meses.</p>
    </div>
    </div>
</div>