<div class="page cover">
    <img class="page-logo" src="{{imagePath 'logo.png'}}" alt="Logo CUIDOFAM">
    <div class="page-content">
        <div>
            <h1 style="align-items: center;">Presupuesto<br>24062025I Servicio<br>Marta-Laredo Externa<br>Semana</h1>
            <p style="text-align: center;"><span>C</span>UIDO<span>F</span>AM: Servicio de cuidado Interna, Vizcaya.</p>
        </div>
        <img src="{{imagePath 'edificio.png'}}" alt="Edificio Vizcaya">
    </div>
</div>