<div class="page cover">
    <img class="page-logo-second" src="{{imagePath 'logo.png'}}" alt="" width="120px">
    <div class="imagen-superpuesta">
        <img class="img-fondo" src="{{imagePath 'fondo.png'}}" alt="">
        <img class="img-titulo" src="{{imagePath 'titulo.png'}}" alt="">
        <div>
            <img src="{{imagePath 'textos.png'}}">
        </div>  
    </div>
    
</div>