<div class="page cover">
     <img class="page-logo-ocho" src="{{imagePath 'logo.png'}}" alt="" width="120px">
      <div class="page-ocho">
        <div>
            <img src="{{imagePath 'gris.png'}}" style="width: 400px; height: auto;" alt="">
        </div>
        <div style="text-align: center;">
            <h1>Coste Total y Activación Servicio <br/> Externa  </h1>
            <div style="margin-top: 20px;">
                <div style="display: flex; flex-direction: column; justify-content: space-between; height: 400px;">
                    <p style="color: rgb(255, 191, 0); background: rgb(255, 249, 230); ">Cuota de Activación <br/> 99 € + IVA (pago único) </p>
                    <p style="color: rgb(255, 191, 0); background: rgb(255, 249, 230); ">Cuota Total <br/> 850,96 €/mes </p>
                    <p style="color: rgb(255, 191, 0); background: rgb(255, 249, 230); ">Pago Activación <br/> A la Aceptación del Presupuesto </p>
                </div>
            </div>
        </div>
    </div>
</div>