<div class="page cover">
     <img class="page-logo-tercero" src="{{imagePath 'logo.png'}}" alt="" width="120px">
      <div class="page-second">
        <div>
            <img src="{{imagePath 'paisaje.png'}}" style="height: 500;" alt="">
        </div>
        <div>
            <h1>Funciones del Cuidador</h1>
            <div class="funciones-container">
                <img src="{{imagePath 'opciones.png'}}" alt="">
                <div class="funciones-text">
                    <p class="funcion-1">Acompañamiento</p>
                    <p class="funcion-2">Tareas Domésticas</p>
                    <p class="funcion-3">Control Medicación</p>
                    <p class="funcion-4">Aseo Personal</p>
                    <p class="funcion-5">Activación Cognitiva</p>
                </div>
            </div>
        </div>
    </div>
</div>