<div class="page cover">
   <div class="imagen-superpuesta">
        <div style="text-align: left;">
        <h1 style="color: rgb(255, 191, 0); text-align: left;">5 ¿Qué ocurre si quiero finalizar el contrato?</h1>
        <p>Tras los dos primeros meses, se requiere preaviso:</p>
        <p>7 días durante el primer año de contrato.</p>
        <p>20 días a partir del segundo año.</p>
        <p>La indemnización por despido es de 1 día por mes trabajado, hasta un máximo de 6 años.</p>
        <p>En caso de fallecimiento del empleador, la indemnización es de 1 mes de salario.</p>
        <h1 style="color: rgb(255, 191, 0); text-align: left;">6 ¿Cómo activamos el servicio?</h1>
        <p>Si decides comenzar con nosotros, el primer paso es activar el servicio. Este proceso es clave y comenzamos con los MAS IMPORTANTE de todo:</p>
        <p>Nos desplazamos a tu hogar para conocerte en persona y entender a fondo las necesidades del usuario.</p>
        <p>Con esta información, iniciamos la búsqueda de la cuidadora ideal para ti y tu familia como si lo haríamos para nosotros.</p>
    </div>
    </div>
</div>