<div class="page cover">
   <div class="imagen-superpuesta">
    <div style="text-align: center;">
        <p style="text-align: center;">En CuidoFam, cuidamos familias. Nuestra prioridad es que el usuario se sienta seguro y</p>
        <p style="text-align: center;">tenga confianza plena en su cuidadora y que tú, como hijo o familiar, tengas la</p>
        <p style="text-align: center;">tranquilidad de saber que tus seres queridos están en las mejores manos. Todo para</p>
        <p style="text-align: center;">un envejecimiento digno. Si tienes más preguntas o necesitas más información, no</p>
        <p style="text-align: center;">dudes en llamarnos. ¡Estamos aquí para ayudarte {{nombreContrato}}¡</p>
    </div>
    </div>
        </div>
    </div>