<div class="page cover">
     <img class="page-logo-cuarta" src="{{imagePath 'logo.png'}}" alt="" width="120px">
   <div class="imagen-superpuesta">
        <img class="img-fondo" src="{{imagePath 'fondo.png'}}" alt="">
        <img class="img-google" src="{{imagePath 'google1.png'}}" alt="">
        <div style="margin-top: 10px;">
            <div>
                <h1>Desglose del Presupuesto3 días / 3 horas Externa </h1>
                <div style="display: flex; gap: 10px; text-align: center;">
                    <div>
                        <h2>Juan <br/>Perez</h2>
                        <p>Salario Neto <br/> Cuidadora (mes) </p>
                    </div>
                     <div>
                        <h2>84,70  <br/>Cuota CuidoFam</h2>
                        <p>Salario Neto <br/> Iva Incluido (mes) </p>
                    </div>
                    <div>
                        <h2>120,43  <br/>Seguridad Social</h2>
                        <p>Mes </p>
                    </div>

                </div>
            </div>
        </div>  
    </div>
    
</div>