<div class="page cover">
     <img class="page-logo-sexta" src="{{imagePath 'logo.png'}}" alt="" width="120px">
   <div class="imagen-superpuesta">
        <img class="img-fondo" src="{{imagePath 'fondo.png'}}" alt="">
        <img class="img-google" src="{{imagePath 'google1.png'}}" alt="">
        <div style="margin-top: 10px;">
            <div>
                <h1  style="background-color: rgb(255, 191, 0); border-radius: 10px; padding: 3px; text-align: center; width: 1015px; padding: 5px;font-size: 35px !important;">Desglose del Presupuesto Externa</h1>
                <div style="display: flex; gap: 10px; text-align: center; width: 1015px; justify-content: space-around; margin-top: 30px;">
                    <div>
                        <h2>600</h2>
                        <p>Salario Neto <br/> <span style="color: rgb(54, 50, 117) !important; font-size: 15px !important;"> Cuidadora (mes) </span></p>
                    </div>
                     <div>
                        <h2>84,70  <br/>Cuota CuidoFam</h2>
                        <p>Salario Neto <br/><span style="color: rgb(54, 50, 117) !important; font-size: 15px !important;">  Iva Incluido (mes)</span> </p>
                    </div>
                    <div>
                        <h2>166,26  <br/>Seguridad Social</h2>
                        <p><span style="color: rgb(54, 50, 117) !important; font-size: 15px !important;">Mes</span></p>
                    </div>

                </div>
            </div>
        </div>  
    </div>
    
</div>